.divider {
  margin: 2px;
}

.auth-btn {
  padding: 5px 10px;
  border-radius: 0.5rem !important;
}

img {
  width: 100%;
}

.formDiv {
  padding: 3% 10%;
  margin-top: 25px;
  border-radius: 1rem;
  width: 450px;
  background-image: url('https://pngimg.com/uploads/pokeball/pokeball_PNG8.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-height: 450px;
  
}

input {
  border: 1px solid teal;
  border-radius: 0.25rem;
  width: auto;
  text-align: center;
  padding: 5px;
  margin-right: 5px;
}

select {
  border: 1px solid teal;
  border-radius: 0.25rem;
  width: 250px;
  height: 36px;
  padding: 5px;
}

.error {
  color: red;
  background: pink;
  border-radius: 5px;
  text-align: center;
}

.i {
  width: 16px;
  height: 16px;
}

.option {
  color: grey;
  margin-top: 5px;
}

.option:hover {
  cursor: pointer;
}

.battleListing {
  min-height: 89vh;
  margin-top: 25px;
}

.userCard {
  border: 1px solid rgb(161, 161, 161);
  border-radius: 5px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
}

.regCard {
  border: 1px solid rgb(161, 161, 161);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.pokemon {
  background-image: url('https://pngimg.com/uploads/pokeball/pokeball_PNG8.png');
  background-repeat: no-repeat;
  background-position: 10px 10px ;
  background-size: 2rem;
}

.pokemonMove {
  border: 1px solid rgb(192, 190, 190);
  border-radius: 5px;
  width: 25%;
  text-align: center;
}

.pokemonNickname {
  margin: 0;
}

.moveFont {
  width: auto;
  min-width: 20%;
  padding: 5px;
  background-color: white !important;
  color: black !important;
}

/* TYPES */
.bug {
  background: #A8B820;
  color: white;
  border-color: #A8B820;
}

.dragon {
  background: #7038F8;
  color: white;
  border-color: #7038F8;
}

.electric {
  background: #F8D030;
  color: white;
  border-color: #F8D030;
}

.fighting {
  background: #C03028;
  color: white;
  border-color: #C03028;
}

.fire {
  background: #F08030;
  color: white;
  border-color: #F08030;
}

.flying {
  background: #A890F0;
  color: white;
  border-color: #A890F0;
}

.ghost {
  background: #705898;
  color: white;
  border-color: #705898;
}

.grass {
  background: #78C850;
  color: white;
  border-color: #78C850;
}

.ground {
  background: #E0C068;
  color: white;
  border-color: #E0C068;
}

.ice {
  background: #98D8D8;
  color: white;
  border-color: #98D8D8;
}

.normal {
  background: #A8A878;
  color: white;
  border-color: #A8A878;
}

.poison {
  background: #A040A0;
  color: white;
  border-color: #A040A0;
}

.psychic {
  background: #F85888;
  color: white;
  border-color: #F85888;
}

.rock {
  background: #B8A038;
  color: white;
  border-color: #B8A038;
}

.water {
  background: #6890F0;
  color: white;
  border-color: #6890F0;
}